<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p>Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id=""/>
        <button type="submit">Enter</button>
    </form>
    <h2>Total points per club</h2>
    <table>
        <tr>
            <th>Club</th>
            <th>Points</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{club['name']}}</td>
            <td>{{club['points']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>